@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");

#esqueci {
  transition: 0.4s ease;

  font-family: "Cairo", sans-serif;
}
#esqueci:hover {
}

#senha button {
  border-radius: 6px;
}
